Merit.Traveller.CRM/Service References/ws_traveller/ws_traveller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurl.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempurl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurl.org">
      <s:element name="ws_attach_req_file">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="request_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_attach_req_fileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_attach_req_fileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_set_traveller_db_connection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="db_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="db_pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_set_traveller_db_connectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_set_traveller_db_connectionResult" type="tns:db_connection_result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="db_connection_result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_param" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="search_limit" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_searchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_searchResult" type="tns:search_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="search_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="search_dets" type="tns:ArrayOfSearch_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSearch_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="search_details" nillable="true" type="tns:search_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="search_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="result_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="key_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_name_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_name_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_name_detailsResult" type="tns:name_details" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="name_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="given_names" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pref_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="work_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email_address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="name_ctr" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_det" type="tns:ArrayOfAddress_details" />
          <s:element minOccurs="0" maxOccurs="1" name="req_dets" type="tns:ArrayOfRequest_details" />
          <s:element minOccurs="0" maxOccurs="1" name="animal_dets" type="tns:ArrayOfAnimal_details" />
          <s:element minOccurs="0" maxOccurs="1" name="audit_dets" type="tns:ArrayOfAudit_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="address_details" nillable="true" type="tns:address_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="address_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="house_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="house_suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="property_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gis_x_coord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gis_y_coord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_ctr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="melway_map" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="melway_ref" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_type_code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="confidential" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="area_group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="municipality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="road_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="road_responsibility" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="street_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="facility_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequest_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="request_details" nillable="true" type="tns:request_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="request_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="request_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="service_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="function_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="service_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="function_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_type_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="request_datetime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="due_datetime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="status_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="division_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="division_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="department_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="department_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provider_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provider_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outcome_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outcome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="in_time_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="finalised_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="count_only" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="centre_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="centre_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priority_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="refer_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="officer_responsible_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="officer_responsible_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="input_by_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="input_by_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="how_received_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="how_received_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_instruction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_name_det" type="tns:ArrayOfCustomer_name_details" />
          <s:element minOccurs="0" maxOccurs="1" name="address_det" type="tns:ArrayOfAddress_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_actions_det" type="tns:ArrayOfRequest_actions_details" />
          <s:element minOccurs="0" maxOccurs="1" name="request_comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="location_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="escalated_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name_addr_xref" type="tns:ArrayOfRequest_name_addr_xref" />
          <s:element minOccurs="0" maxOccurs="1" name="facility_det" type="tns:ArrayOfFacility_details" />
          <s:element minOccurs="0" maxOccurs="1" name="with_action" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_desc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomer_name_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="customer_name_details" nillable="true" type="tns:customer_name_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="customer_name_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="given_names" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pref_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="work_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email_address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="name_ctr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name_type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequest_actions_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="request_actions_details" nillable="true" type="tns:request_actions_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="request_actions_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="action_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="action_officer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="action_required" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="action_completed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="action_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="finalised_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="in_time_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="escalated_ind" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="assign_time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="outcome_time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="due_time" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequest_name_addr_xref">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="request_name_addr_xref" nillable="true" type="tns:request_name_addr_xref" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="request_name_addr_xref">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFacility_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="facility_details" nillable="true" type="tns:facility_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="facility_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="facility_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="facility_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="facility_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="facility_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="facility_type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="house_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="house_suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="property_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gis_x_coord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gis_y_coord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_ctr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="melway_map" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="melway_ref" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_desc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnimal_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="animal_details" nillable="true" type="tns:animal_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="animal_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="animal_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="animal_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licence_no" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dob" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="age" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="animal_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desexed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="breed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="colour" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="chip_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner_home_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner_mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="owner_work_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="property_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="class" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAudit_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="audit_details" nillable="true" type="tns:audit_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="audit_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="audit_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="audit_field" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="audit_operation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="before_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="after_data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_name_remarks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_name_remarksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_name_remarksResult" type="tns:request_remarks" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="request_remarks">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="request_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="req_remark_dets" type="tns:ArrayOfRequest_remark_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequest_remark_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="request_remark_details" nillable="true" type="tns:request_remark_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="request_remark_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="note_type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="note_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="sub_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="officer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="attachment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="action_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sent_by" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_address_remarks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_address_remarksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_address_remarksResult" type="tns:request_remarks" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_animal_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="animal_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_animal_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_animal_detailsResult" type="tns:animal_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="animal_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="animal_dets" type="tns:ArrayOfAnimal_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_external_data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_external_dataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_external_dataResult" type="tns:external_data_details" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="external_data_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="field_name" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="data_value" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_external_name">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="external_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_external_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_external_nameResult" type="tns:name_details" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_external_address">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="external_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_external_addressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_external_addressResult" type="tns:address_details" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_set_traveller_propsys_db_connection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="db_user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="db_pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_set_traveller_propsys_db_connectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_set_traveller_propsys_db_connectionResult" type="tns:db_connection_result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_officer_summary">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="officer_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_officer_summaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_officer_summaryResult" type="tns:officer_summary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="officer_summary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="officer_det" type="tns:officer_details" />
          <s:element minOccurs="0" maxOccurs="1" name="request_det" type="tns:ArrayOfRequest_details" />
          <s:element minOccurs="0" maxOccurs="1" name="action_det" type="tns:ArrayOfAction_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="officer_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="responsible_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="given_names" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="supervisor_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="group_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="other_officer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="terminate_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="level_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="div_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dep_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="default_printer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="officer_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provider_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="profile_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="profile_password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail_client_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="calendar_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user_profile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="security_group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="case_mgr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAction_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="action_details" nillable="true" type="tns:action_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="action_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="action_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="request_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="action_officer_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="action_officer_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="assign_datetime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="outcome_datetime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="due_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="outcome_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="outcome_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reason_assigned" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reason_assigned_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="finalised_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priority_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priority" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="position_no" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="after_pos_no" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="in_time_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="escalated_ind" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="division_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="division_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="department_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="department_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="change_due_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="change_action_reqd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="change_priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="change_action_officer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="skip_time_taken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="action_format" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="action_comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_addr_assocs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="history_ind" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_addr_assocsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_addr_assocsResult" type="tns:assoc_sum_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="assoc_sum_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="assoc_sum_det" type="tns:ArrayOfAssoc_sum_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAssoc_sum_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="assoc_sum_details" nillable="true" type="tns:assoc_sum_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="assoc_sum_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="type_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="type_desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type_cnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="type_key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ind" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="form_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="key_name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_assoc_dets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type_txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type_desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type_cnt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type_key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type_code" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="form_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="history_ind" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_assoc_detsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_assoc_detsResult" type="tns:assoc_det_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="assoc_det_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="assoc_det_det" type="tns:ArrayOfAssoc_det_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tag_txt" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAssoc_det_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="assoc_det_details" nillable="true" type="tns:assoc_det_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="assoc_det_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data_txt01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt05" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt06" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt07" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt08" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt09" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data_txt10" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_addr_alias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_addr_aliasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_addr_aliasResult" type="tns:alias_sum_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="alias_sum_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="alias_sum_det" type="tns:ArrayOfAlias_sum_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAlias_sum_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="alias_sum_details" nillable="true" type="tns:alias_sum_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="alias_sum_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="type_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="type_desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type_cnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="type_key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ind" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type_code" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_alias_dets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type_txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type_desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type_cnt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type_key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type_code" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_alias_detsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_alias_detsResult" type="tns:alias_det_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="alias_det_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="alias_det_det" type="tns:ArrayOfAlias_det_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAlias_det_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="alias_det_details" nillable="true" type="tns:alias_det_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="alias_det_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="alias_ctr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="alias_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alias_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alias_txt" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_addr_attributes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="history_ind" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_addr_attributesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_addr_attributesResult" type="tns:attrib_sum_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="attrib_sum_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="attrib_sum_det" type="tns:ArrayOfAttrib_sum_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAttrib_sum_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="attrib_sum_details" nillable="true" type="tns:attrib_sum_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="attrib_sum_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="type_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="type_desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type_cnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="type_key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ind" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="form_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="key_name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_attrib_dets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type_txt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type_desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type_cnt" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type_key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status_ind" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type_code" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_attrib_detsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_attrib_detsResult" type="tns:attrib_det_list" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="attrib_det_list">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="attrib_det_det" type="tns:ArrayOfAttrib_det_details" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAttrib_det_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="attrib_det_details" nillable="true" type="tns:attrib_det_details" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="attrib_det_details">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="attrib_ctr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_01_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_01_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_02_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_02_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_03_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_03_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_04_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_04_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_05_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_05_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_06_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_06_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_07_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_07_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_08_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_08_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_09_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_09_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_10_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_10_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_11_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_11_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_12_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_12_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_13_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_13_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_14_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_14_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_15_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_15_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_16_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_16_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_17_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_17_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_18_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_18_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_19_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_19_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_20_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_20_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_21_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_21_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_22_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_22_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_23_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_23_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_24_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_24_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_25_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_25_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_26_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_26_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_27_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_27_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_28_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_28_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_29_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_29_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_30_txt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fld_30_data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_name_lookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_param" type="tns:name_search" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="name_search">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="given_names" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pref_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="work_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email_address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="name_ctr" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="name_origin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_name_lookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_name_lookupResult" type="tns:name_search_result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="name_search_result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name_search_det" type="tns:ArrayOfName_search" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfName_search">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="name_search" nillable="true" type="tns:name_search" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_address_lookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name_origin" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="name_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="name_ctr" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_address_lookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_address_lookupResult" type="tns:address_lookup_result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="address_lookup_result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_list" type="tns:ArrayOfAddress_lookup_det" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAddress_lookup_det">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="address_lookup_det" nillable="true" type="tns:address_lookup_det" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="address_lookup_det">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="house_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="house_suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="property_no" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_ctr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="confidential" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ws_get_address_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_get_address_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_get_address_detailsResult" type="tns:address_summary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="address_summary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="address_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="house_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="house_suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="property_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gis_x_coord" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gis_y_coord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="address_ctr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="melway_map" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="melway_ref" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address_type_code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ws_status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ws_message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="confidential" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="area_group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="municipality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="road_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="road_responsibility" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name_dets" type="tns:ArrayOfName_details" />
          <s:element minOccurs="0" maxOccurs="1" name="req_dets" type="tns:ArrayOfRequest_details" />
          <s:element minOccurs="0" maxOccurs="1" name="animal_dets" type="tns:ArrayOfAnimal_details" />
          <s:element minOccurs="0" maxOccurs="1" name="fac_dets" type="tns:ArrayOfFacility_details" />
          <s:element minOccurs="0" maxOccurs="1" name="audit_dets" type="tns:ArrayOfAudit_details" />
          <s:element minOccurs="1" maxOccurs="1" name="street_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="facility_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfName_details">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="name_details" nillable="true" type="tns:name_details" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_attach_req_fileSoapIn">
    <wsdl:part name="parameters" element="tns:ws_attach_req_file" />
  </wsdl:message>
  <wsdl:message name="ws_attach_req_fileSoapOut">
    <wsdl:part name="parameters" element="tns:ws_attach_req_fileResponse" />
  </wsdl:message>
  <wsdl:message name="ws_set_traveller_db_connectionSoapIn">
    <wsdl:part name="parameters" element="tns:ws_set_traveller_db_connection" />
  </wsdl:message>
  <wsdl:message name="ws_set_traveller_db_connectionSoapOut">
    <wsdl:part name="parameters" element="tns:ws_set_traveller_db_connectionResponse" />
  </wsdl:message>
  <wsdl:message name="ws_searchSoapIn">
    <wsdl:part name="parameters" element="tns:ws_search" />
  </wsdl:message>
  <wsdl:message name="ws_searchSoapOut">
    <wsdl:part name="parameters" element="tns:ws_searchResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_name_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_name_details" />
  </wsdl:message>
  <wsdl:message name="ws_get_name_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_name_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_name_remarksSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_name_remarks" />
  </wsdl:message>
  <wsdl:message name="ws_get_name_remarksSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_name_remarksResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_address_remarksSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_address_remarks" />
  </wsdl:message>
  <wsdl:message name="ws_get_address_remarksSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_address_remarksResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_animal_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_animal_details" />
  </wsdl:message>
  <wsdl:message name="ws_get_animal_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_animal_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_external_dataSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_external_data" />
  </wsdl:message>
  <wsdl:message name="ws_get_external_dataSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_external_dataResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_external_nameSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_external_name" />
  </wsdl:message>
  <wsdl:message name="ws_get_external_nameSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_external_nameResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_external_addressSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_external_address" />
  </wsdl:message>
  <wsdl:message name="ws_get_external_addressSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_external_addressResponse" />
  </wsdl:message>
  <wsdl:message name="ws_set_traveller_propsys_db_connectionSoapIn">
    <wsdl:part name="parameters" element="tns:ws_set_traveller_propsys_db_connection" />
  </wsdl:message>
  <wsdl:message name="ws_set_traveller_propsys_db_connectionSoapOut">
    <wsdl:part name="parameters" element="tns:ws_set_traveller_propsys_db_connectionResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_officer_summarySoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_officer_summary" />
  </wsdl:message>
  <wsdl:message name="ws_get_officer_summarySoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_officer_summaryResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_addr_assocsSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_addr_assocs" />
  </wsdl:message>
  <wsdl:message name="ws_get_addr_assocsSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_addr_assocsResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_assoc_detsSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_assoc_dets" />
  </wsdl:message>
  <wsdl:message name="ws_get_assoc_detsSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_assoc_detsResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_addr_aliasSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_addr_alias" />
  </wsdl:message>
  <wsdl:message name="ws_get_addr_aliasSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_addr_aliasResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_alias_detsSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_alias_dets" />
  </wsdl:message>
  <wsdl:message name="ws_get_alias_detsSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_alias_detsResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_addr_attributesSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_addr_attributes" />
  </wsdl:message>
  <wsdl:message name="ws_get_addr_attributesSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_addr_attributesResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_attrib_detsSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_attrib_dets" />
  </wsdl:message>
  <wsdl:message name="ws_get_attrib_detsSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_attrib_detsResponse" />
  </wsdl:message>
  <wsdl:message name="ws_name_lookupSoapIn">
    <wsdl:part name="parameters" element="tns:ws_name_lookup" />
  </wsdl:message>
  <wsdl:message name="ws_name_lookupSoapOut">
    <wsdl:part name="parameters" element="tns:ws_name_lookupResponse" />
  </wsdl:message>
  <wsdl:message name="ws_address_lookupSoapIn">
    <wsdl:part name="parameters" element="tns:ws_address_lookup" />
  </wsdl:message>
  <wsdl:message name="ws_address_lookupSoapOut">
    <wsdl:part name="parameters" element="tns:ws_address_lookupResponse" />
  </wsdl:message>
  <wsdl:message name="ws_get_address_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:ws_get_address_details" />
  </wsdl:message>
  <wsdl:message name="ws_get_address_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:ws_get_address_detailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_travellerSoap">
    <wsdl:operation name="ws_attach_req_file">
      <wsdl:input message="tns:ws_attach_req_fileSoapIn" />
      <wsdl:output message="tns:ws_attach_req_fileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_set_traveller_db_connection">
      <wsdl:input message="tns:ws_set_traveller_db_connectionSoapIn" />
      <wsdl:output message="tns:ws_set_traveller_db_connectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_search">
      <wsdl:input message="tns:ws_searchSoapIn" />
      <wsdl:output message="tns:ws_searchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_name_details">
      <wsdl:input message="tns:ws_get_name_detailsSoapIn" />
      <wsdl:output message="tns:ws_get_name_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_name_remarks">
      <wsdl:input message="tns:ws_get_name_remarksSoapIn" />
      <wsdl:output message="tns:ws_get_name_remarksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_address_remarks">
      <wsdl:input message="tns:ws_get_address_remarksSoapIn" />
      <wsdl:output message="tns:ws_get_address_remarksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_animal_details">
      <wsdl:input message="tns:ws_get_animal_detailsSoapIn" />
      <wsdl:output message="tns:ws_get_animal_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_data">
      <wsdl:input message="tns:ws_get_external_dataSoapIn" />
      <wsdl:output message="tns:ws_get_external_dataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_name">
      <wsdl:input message="tns:ws_get_external_nameSoapIn" />
      <wsdl:output message="tns:ws_get_external_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_address">
      <wsdl:input message="tns:ws_get_external_addressSoapIn" />
      <wsdl:output message="tns:ws_get_external_addressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_set_traveller_propsys_db_connection">
      <wsdl:input message="tns:ws_set_traveller_propsys_db_connectionSoapIn" />
      <wsdl:output message="tns:ws_set_traveller_propsys_db_connectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_officer_summary">
      <wsdl:input message="tns:ws_get_officer_summarySoapIn" />
      <wsdl:output message="tns:ws_get_officer_summarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_assocs">
      <wsdl:input message="tns:ws_get_addr_assocsSoapIn" />
      <wsdl:output message="tns:ws_get_addr_assocsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_assoc_dets">
      <wsdl:input message="tns:ws_get_assoc_detsSoapIn" />
      <wsdl:output message="tns:ws_get_assoc_detsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_alias">
      <wsdl:input message="tns:ws_get_addr_aliasSoapIn" />
      <wsdl:output message="tns:ws_get_addr_aliasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_alias_dets">
      <wsdl:input message="tns:ws_get_alias_detsSoapIn" />
      <wsdl:output message="tns:ws_get_alias_detsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_attributes">
      <wsdl:input message="tns:ws_get_addr_attributesSoapIn" />
      <wsdl:output message="tns:ws_get_addr_attributesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_attrib_dets">
      <wsdl:input message="tns:ws_get_attrib_detsSoapIn" />
      <wsdl:output message="tns:ws_get_attrib_detsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_name_lookup">
      <wsdl:input message="tns:ws_name_lookupSoapIn" />
      <wsdl:output message="tns:ws_name_lookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_address_lookup">
      <wsdl:input message="tns:ws_address_lookupSoapIn" />
      <wsdl:output message="tns:ws_address_lookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_get_address_details">
      <wsdl:input message="tns:ws_get_address_detailsSoapIn" />
      <wsdl:output message="tns:ws_get_address_detailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_travellerSoap" type="tns:ws_travellerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_attach_req_file">
      <soap:operation soapAction="http://tempurl.org/ws_attach_req_file" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_set_traveller_db_connection">
      <soap:operation soapAction="http://tempurl.org/ws_set_traveller_db_connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_search">
      <soap:operation soapAction="http://tempurl.org/ws_search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_name_details">
      <soap:operation soapAction="http://tempurl.org/ws_get_name_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_name_remarks">
      <soap:operation soapAction="http://tempurl.org/ws_get_name_remarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_address_remarks">
      <soap:operation soapAction="http://tempurl.org/ws_get_address_remarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_animal_details">
      <soap:operation soapAction="http://tempurl.org/ws_get_animal_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_data">
      <soap:operation soapAction="http://tempurl.org/ws_get_external_data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_name">
      <soap:operation soapAction="http://tempurl.org/ws_get_external_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_address">
      <soap:operation soapAction="http://tempurl.org/ws_get_external_address" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_set_traveller_propsys_db_connection">
      <soap:operation soapAction="http://tempurl.org/ws_set_traveller_propsys_db_connection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_officer_summary">
      <soap:operation soapAction="http://tempurl.org/ws_get_officer_summary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_assocs">
      <soap:operation soapAction="http://tempurl.org/ws_get_addr_assocs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_assoc_dets">
      <soap:operation soapAction="http://tempurl.org/ws_get_assoc_dets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_alias">
      <soap:operation soapAction="http://tempurl.org/ws_get_addr_alias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_alias_dets">
      <soap:operation soapAction="http://tempurl.org/ws_get_alias_dets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_attributes">
      <soap:operation soapAction="http://tempurl.org/ws_get_addr_attributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_attrib_dets">
      <soap:operation soapAction="http://tempurl.org/ws_get_attrib_dets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_name_lookup">
      <soap:operation soapAction="http://tempurl.org/ws_name_lookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_address_lookup">
      <soap:operation soapAction="http://tempurl.org/ws_address_lookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_address_details">
      <soap:operation soapAction="http://tempurl.org/ws_get_address_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_travellerSoap12" type="tns:ws_travellerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_attach_req_file">
      <soap12:operation soapAction="http://tempurl.org/ws_attach_req_file" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_set_traveller_db_connection">
      <soap12:operation soapAction="http://tempurl.org/ws_set_traveller_db_connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_search">
      <soap12:operation soapAction="http://tempurl.org/ws_search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_name_details">
      <soap12:operation soapAction="http://tempurl.org/ws_get_name_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_name_remarks">
      <soap12:operation soapAction="http://tempurl.org/ws_get_name_remarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_address_remarks">
      <soap12:operation soapAction="http://tempurl.org/ws_get_address_remarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_animal_details">
      <soap12:operation soapAction="http://tempurl.org/ws_get_animal_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_data">
      <soap12:operation soapAction="http://tempurl.org/ws_get_external_data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_name">
      <soap12:operation soapAction="http://tempurl.org/ws_get_external_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_external_address">
      <soap12:operation soapAction="http://tempurl.org/ws_get_external_address" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_set_traveller_propsys_db_connection">
      <soap12:operation soapAction="http://tempurl.org/ws_set_traveller_propsys_db_connection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_officer_summary">
      <soap12:operation soapAction="http://tempurl.org/ws_get_officer_summary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_assocs">
      <soap12:operation soapAction="http://tempurl.org/ws_get_addr_assocs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_assoc_dets">
      <soap12:operation soapAction="http://tempurl.org/ws_get_assoc_dets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_alias">
      <soap12:operation soapAction="http://tempurl.org/ws_get_addr_alias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_alias_dets">
      <soap12:operation soapAction="http://tempurl.org/ws_get_alias_dets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_addr_attributes">
      <soap12:operation soapAction="http://tempurl.org/ws_get_addr_attributes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_attrib_dets">
      <soap12:operation soapAction="http://tempurl.org/ws_get_attrib_dets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_name_lookup">
      <soap12:operation soapAction="http://tempurl.org/ws_name_lookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_address_lookup">
      <soap12:operation soapAction="http://tempurl.org/ws_address_lookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_get_address_details">
      <soap12:operation soapAction="http://tempurl.org/ws_get_address_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_traveller">
    <wsdl:port name="ws_travellerSoap" binding="tns:ws_travellerSoap">
      <soap:address location="http://merit-laptop-3/merit_traveller/ws_traveller.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_travellerSoap12" binding="tns:ws_travellerSoap12">
      <soap12:address location="http://merit-laptop-3/merit_traveller/ws_traveller.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>